.footer{
  text-align: center; /* テキストを中央揃えにする */
  margin: 0 auto; /* 要素を水平方向に中央配置する */
  width: 100%; /* 画面幅の50%に要素を配置する（任意の幅に調整してください） */
  /* border: 1px solid black; 要素の境界線を表示する（任意のスタイルに調整してください） */
  padding: 0px; /* 要素の内側の余白を設定する */
  background-color: rgb(29, 29, 66);

}
.footer-font{
  color: aliceblue;
}
h1{
  color: white; /* テキストの色を白に設定 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 白抜き効果を付ける影 */
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  
  
}
header {
  background-color: rgb(29, 29, 66);
}
div{
  /*border:1px solid black;*/
}
h3{
 background-color: beige;
 font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
 /*color:antiquewhite*/
}
li{
  display:inline-block;/*横並び*/
  list-style-type:disc;/*要素をブロックレベル要素として表示*/
  margin-block-start:0px;/*リストのマーカーを円形のディスクに設定*/
  margin-block-end:0px;/*リストの上側のマージンを設定*/
  margin-inline-start:0px;/*リストの下側のマージンを設定*/
  margin-inline-end:0px;/*右側のマージン*/
  padding-inline-start:0px;/*左側のマージン*/
  unicode-bidi:isolate;/**/
  font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
ul{
  padding-left:0px;/**/
  padding-bottom: 0px;
  padding-left:0px ;
  padding-right: 0px;
  font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}
p {
  font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;

    word-wrap: break-word; /* テキストの自動折り返し */
  
}


/* デスクトップ用のナビゲーションメニュー */
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* モバイル用のナビゲーションメニュー */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none; /* デフォルトでは非表示 */
    position: absolute;
    top: 80px; /* ハンバーガーボタンからの位置 */
    right: 0; /* ハンバーガーボタンの右側に配置 */
    width: auto;
    background-color: #333;
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000; /* カルーセルよりも上に表示する */

    
  }

  .nav-links.active {
    display: flex; /* メニューがアクティブの場合は表示 */
    flex-direction: column;
    align-items: center;
  }

  .burger {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000; /* ハンバーガーメニューボタンが最前面に表示されるように */
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }
}


@media screen and (min-width: 769px) {
  .burger {
    display: none;
  }
}
/*画像の上に画像*/
.parent {
  position: relative; /* 親要素に相対的な位置を設定 */
  max-width: 1500px;
 
}
.background-image{
   filter: blur(1px); /* 境界をぼかす */
}
.overlay-image {
  position: absolute; /* 重ねる画像に絶対的な位置を設定 */
  top: 25%; /* 上端に配置 */
  left: 10%; /* 左端に配置 */
  width: 500px; /* デフォルトの幅 */
  height: 800px; /* デフォルトの高さ */
  box-shadow: 10px 10px 5px #bbbbbb;
  transform: rotate(-5deg);
  object-fit: cover;
  
}
/**/
.link-dark{
  color: white; /* テキストの色を白に設定 */
  margin-inline-end:10px;/*右側のマージン*/
}
.top-icon{
 
  margin: 0px;
  padding: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 50px;
  background-color: beige;
  border-radius: 70%; /* ボタンを円形に切り取る */
  position: fixed; /* ボタンを固定位置に配置 */
  bottom: 20px; /* 下からの位置を指定 */
  right: 10px; /* 右からの位置を指定 */
  color:black;
}
.overlay-font{
  position: absolute; /* overlay-font を親要素に対して絶対的な位置に配置 */
  top: 50%; /* 上端から50%の位置に配置 */
  left: 70%; /* 左端から50%の位置に配置 */
  transform: translate(-50%, -50%); /* 中央揃え */
  z-index: 1; /* 画像の上に配置 */
  font-size: 30px;
  max-width: 400px;
  color: white; /* テキストの色を白に設定 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 白抜き効果を付ける影 */

}

@media screen and (max-width: 921px){
  .overlay-font{
    top: 50%; /* 上端から50%の位置に配置 */

    font-size: 20px;
    max-width: 100px;
  }

}

/* モバイルデバイス用のスタイル */
@media screen and (max-width: 767px) {
  .overlay-image {
    width: 200px; /* モバイルデバイスの幅 */
    height: 500px; /* モバイルデバイスの高さ */
  }

  .overlay-font{
    top: 50%; /* 上端から50%の位置に配置 */

    font-size: 20px;
    max-width: 100px;
 }
}

/* タブレットデバイス用のスタイル */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .overlay-image {
    width: 250px; /* タブレットデバイスの幅 */
    height: 600px; /* タブレットデバイスの高さ */
  }
}

/* デスクトップデバイス用のスタイル */
@media screen and (min-width: 1024px) {
  .overlay-image {
    width: 300px; /* デスクトップデバイスの幅 */
    height: 800px; /* デスクトップデバイスの高さ */
  }
}

.content{
  
  background-color: azure;
 
  
}